{
  "root": true,
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 2],
    "quotes": [2, "single" ],
    "no-undef": 2,
    "no-unused-vars": 2
  }
}
